body {
    font-family: "Roboto", sans-serif;
    margin: 0;

}

.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapperBg {
    width: 100%;
}

.wrapper {
    max-width: 1024px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.top, .main, .footer {
    background-color: #1F2937;
}

.info1, .info3 {
    background-color: #F9FAF8;
}

.info2 {
    background-color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button-outline {
    border: 1px;
    border-style: solid;
    color: #F9FAF8;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.topArea {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items:last baseline;
    background-color: #1F2937;
}

.topLeft {
    margin-left: 24px;
    margin-bottom: 10px;
    margin-right: auto;
    font-size: 20px; 
    font-weight: 900;
    color: #F9FAF8
}

.topRight {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    margin-bottom: 10px;
    margin-left: auto;
    font-size: 18px;
    
}

.topLink {
    margin-left: 24px;
}

.mainArea{
    display: flex;
    background-color: #1F2937;
}

.mainLeft {
    flex-direction: column;
    display: flex;
    margin-left: 24px;
    height: 200px;
    margin-right: 50px;
}

.mainText {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.secondaryText {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.mainRight {
    margin-right: 24px;
    background-color: gray;
    aspect-ratio: 16/9;
    overflow: hidden;
    width: 80%;
    max-width: 400px;
}

.info1Area {
    flex-direction: column;
    display: flex;
    background-color: #F9FAF8;
    height: 550px;
}

.info1Header {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 24px;
}

.info1Section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info1Column {
    justify-content: center;
    flex-direction: column;
    margin: 24px;
    width: 18%;
}

.info1Img {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 12px;
    aspect-ratio : 1/1;
    margin-bottom: 8px;
}

.info1Text {
    font-size: 16px;
    text-align: center;
}

.info2Area {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.info2Section {
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 400px;
}

.info2Left {
    margin-bottom: 10px;
    margin-right: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    line-height: 1.4;
}

.info2Right {
    margin-bottom: 10px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
}

.info3Area {
    display: flex;
    height: 250px;
    background-color: #F9FAF8;
}

.info3Section {
    display: flex;
    background-color: #3882F6;
    height: 120px;
    width: 80%;
    min-width: 600px;
    border-radius: 12px;
    margin-right: 24px;
    margin-left: 24px;
}

.info3Left {
    color: #F9FAF8;
    margin-right: 100px;
}

.info3Header{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.info3Text{
    font-size: 12px; 
}

.footer {
    display: flex;
    height: 80px;
}

.footerText {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #1F2937;
}